@charset "UTF-8";

.flexbox2{
	display:flex;
	justify-content:space-around;
	align-items: center;
}
.item2{
width:700px;
}

.icon{
	margin-top:50px;
	width: 170px;
	height: 170px;
	border-radius: 50%;
	object-fit: cover;
	border: solid 3px #6a6565ae;
	position:relative;
	top:-40px;
	left:10px;
}
h1 {
	width:230px;
}
.btns{
	margin-top:40px;
}
.item3{
	margin:30px;
}
.comment{
	padding-right: 3px;
	padding-top:150px; 
	margin-bottom: 10px; 
	border: 1px solid #333333;
	background-color:white;
}
.margin{
	margin-top:25px;
}
.flexbox3{

}
.imagebox{
	display: flex;
	padding: 0 auto;
}

.myimage{
	background-color: #FFE8A4;
	width: 400px;
	height:500px;
	margin-right: 25px;
	text-align: center;
	padding: 0 auto;
	overflow-y: scroll;
}

.myfollow{
	background-color: #E6E6E6;
	width: 400px;
	height:500px;
	margin-right: 25px;
	text-align: center;
	padding: 0 auto;
	overflow-y: scroll;
}
.otherimage{
	background-color: #FFE8A4;
	text-align: center;
}
.item3{
	width:400px;
}
.itemtitle{
	display: flex;
}
.itemtitle span{
	width: 400px;
	text-align: center;
	margin-right: 25px;
	padding: 0 auto;
}