@charset "UTF-8";
.background-img{
    background-color: aliceblue;
    height: 400px;
    width: 650px;
    margin-top: 150px;

}
.item{
margin:50px;

}
.container{
    display:flex;
    align-items: center;
    height: 70vh;

}
.container2{
    display: flex;
    flex-direction: column;
}
.item2{
padding: 50px;
margin-top: 80px;
}

.button{
    margin-left:350px;
    margin-top: 150px;
}
button{
    margin: 20px;
    padding: 30px 50px 30px 50px;
}
.title{
	margin-top:70px;
}
.category{
	margin-top:70px;
}
.comment{
	margin-top:70px;
}
.comment label {
vertical-align: top;
}
.box img {
	max-width: 250px;
	max-hight: 250px;
	min-width: 125px;
	min-hight: 125px;
	margin: 25px;
	margin-top: 80px;
	border: 5px #FFFFFF solid;
}

